
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = "~/Views/Layout/_LayoutUser.cshtml";
}

<center>
    <div style="margin-top:180px">
        <h2>Đặt hàng thành công</h2>
        
        <a href="@Url.Action("Index","Home")"><input value="Trở lại trang chủ" class="btn btn-dan   ger" /></a>
    </div>
</center>

