<div class="col-md-6 col-lg-6">
    <!-- TOP CAMPAIGN-->
    <div class="top-campaign">
        <h3 class="title-3 m-b-30">TỔNG DOANH THU</h3>
        <div class="table-responsive">
            <table class="table table-top-campaign">
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.ten</td>
                            <td>@String.Format("{0:0,0}",@item.tong) VNĐ</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!-- END TOP CAMPAIGN-->
</div>