@using WebsiteBanGiay.Models;

<div class="menu_nav">
    <ul>
        @foreach (var item in Model)
        {
            <li><a href="/Product/SanPham?id=@item.MaLoai">@item.TenLoai</a></li>
        }
        <li><a href="#">Liên hệ</a></li>
    </ul>
</div>
