
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Layout/_LayoutUser.cshtml";
}

<div class="header" style="margin-top:79px;position:relative">
    <div class="row" style="list-style:none">
        <div class="col-md-3">
            <center>
                <li style="color:black;font-size:50px;margin-top:15px;font-weight: 1000">V    S    S</li>
                <li style="color:black;font-weight: 1000;">STORE</li>
            </center>
        </div>

        <div class="col-md-7">
            <div style="margin-top:15px;line-height: 30px;text-align: justify;margin-bottom:30px">
                <span>VSS STORE – Điểm đến thời trang hàng đầu Việt Nam, được thành lập chính thức vào ngày 19/4/2014 tại Vincom Royal City Hà Nội &amp; 12/12/2014 tại Crescent Mall Hồ Chí Minh. Đây là trung tâm mua sắm đầu tiên của Tập Đoàn Central Group tại Việt Nam với hơn 200 thương hiệu thuộc các ngành hàng khác nhau bao gồm Trang sức, Mỹ phẩm, Thời trang Nam, Nữ, Trẻ em và Đồ dùng gia đình. </span>
                <span>VSS STORE hi vọng mang lại cho bạn những trải nghiệm mua sắm tuyệt vời tại đây cùng các sự kiện và chương trình khuyến mãi vô cùng hấp dẫn.</span>
            </div>
        </div>

    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <center>
                    <iframe class="youtubeIframe" src="https://www.youtube.com/embed/OTw4iaIxtOQ" width="100%" height="500px" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
                </center>
            </div>
        </div>
    </div>
    <hr style="border: 1px solid #9C9C9C">
    <div class="container-fluid">   
        <div class="row">
            <div class="col-md-4"></div>
            <div clas="col-md-5">
                <div>
                    <p style="font-weight:bold;margin-left:170px">THEO DÕI KÊNH FACEBOK</p>
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FVSS-Vietnam-Sneaker-S-2260754427509665%2F%3Fmodal%3Dadmin_todo_tour&tabs=timeline&width=960&height=600&small_header=false&adapt_container_width=true&hide_cover=true&show_facepile=true&appId=1085290555007060" width="800" height="600" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div style="text-align: center;padding-top: 20px;padding-bottom: 10px;font-weight: bold;">MAP / BẢN ĐỒ</div>
    <div id="map" style="width:100%;height:500px;">

        <iframe src="@ViewBag.BanDo" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>

